.lcm-switcher {
    position: relative;
    padding: 0 10px
}

.lcm-switcher label {
    display: inline-block;
    font-size: 1.2em
}

.lcm-switcher div {
    position: absolute;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateZ(0);
    transform: translateY(10%);
    transition: all .2s linear;
    background: rgba(255, 255, 255, .9);
    padding: 20px;
    z-index: 501;
    border-top: 2px #d9a627 solid;
    width: 85%;
    box-sizing: border-box;
    margin: -5px 0 0
}

.lcm-switcher select {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border: 1px #dca722 solid;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box
}

.lcm-switcher div a {
    display: block;
    padding: 5px 0;
    color: #222;
    border-bottom: 1px #ccc solid
}

.lcm-switcher div a:last-child {
    border: 0
}

.lcm-switcher div a:hover {
    color: #000
}

.lcm-switcher:hover div {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%)
}

.lcm-switcher:after {
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 7px;
    margin: 0 5px -7px;
    display: inline-block;
    vertical-align: middle
}

.lcm-switcher button {
    background: #dca722;
    color: #fff;
    padding: 5px 0;
    display: block;
    text-transform: uppercase;
    width: 100%
}

.square-sqm, .square-outdoor, .square_string {
    font-size: 1em !important;
    margin-left: 5px;
}

.price-format {
    display: block;
    letter-spacing: .05em;
    margin: 10px auto;
    font-size: 1.6em;
    font-weight: 400
}
#lcm-loader{
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
    position: fixed;
    background-repeat: no-repeat;
    margin-left: 47%;
    margin-top: 20%;
}
.lcm-widget-section{
	width: 200px;
}